<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com">

  <meta name="Author" content="Mr. Brian Kiplangat">
  
  <title>The Edge Wifi | Verify</title>

  <link rel="stylesheet" href="/static/assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="/static/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/static/assets/css/maicons.css">

  <link rel="stylesheet" href="/static/assets/vendor/owl-carousel/css/owl.carousel.css">

  <link rel="stylesheet" href="/static/assets/css/theme.css">
  <script src="/static/assets/js/md5.js"></script>

  <script type="text/javascript">
  <!--
      function doLogin(username, password) {
          document.sendin.username.value = username;
          document.sendin.password.value = hexMD5('<%=chap_id%>' + password + '<%=chap_challenge%>');
          document.sendin.submit();
         return false;
      }
  //-->
  </script>

</head>
<style type="text/css">
  html{
    scroll-behavior: smooth;
  }


</style>
<body> 


  <form name="sendin" action="<%=host_domain%>" method="post">
    <input type="hidden" name="username" />
    <input type="hidden" name="password" />
    <input type="hidden" name="dst" value="<%=host_domain%>" />
    <input type="hidden" name="popup" value="true" />
  </form>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <div class="h-100">
    <div class="row justify-content-center">
       <div class="col-6 col-lg-auto py-3 wow fadeInLeft">
            <div class="card-pricing">
              <div class="header">
                <div class="price-icon"><span class="mai-danger-outline"></span></div>
                
              </div>
              <div class="body py-3">
                <div class="py-2">
                    <img style="object-fit: cover;max-width: 100%;" src="/static/assets/img/bg_image_2.png">
                </div>
                <div class="price-info py-2" >
                  <p>We are checking for receipt of payment</p>
                </div>
                <div data-id="<%=request_id%>" id='request_id'></div>
                <div class="status-update">
                   <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="footer">
                <button type="button"  disabled=true class="btn btn-outline-primary task_offer" data-type="blaze_bundle"  data-toggle="modal" data-target="#SwitchModal">
                    Verifying ...
                  </button>
              </div>
            </div>
          </div>
    </div>
  </div>

 
  <footer class="page-footer">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-3 py-3">
          <h3>TheEdge<span class="text-primary">WiFi.</span></h3>
          <p>Building Wireless Connections</p>

          <p><a href="mailto:kiplangatsgt@mail.com" >kiplangatsgt@mail.com</a></p>
          <p><a href="tel:+254746613059">+254 74661 3059</a></p>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Quick Links</h5>
          <ul class="footer-menu">
            <li><a href="#">How it works</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Pricing</a></li>
          </ul>
        </div>
       
        <div class="col-lg-3 py-3">

          <div class="sosmed-button mt-4">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-google"></span></a>
            <a href="#"><span class="mai-logo-linkedin"></span></a>
          </div>
        </div>
      </div>


      

      <div class="row">
        <div class="col-sm-6 py-2">
          <p id="copyright">&copy; 2022 <a href="https://macodeid.com/">Hugos</a>. All rights reserved</p>
        </div>
        <div class="col-sm-6 py-2 text-right">
          <div class="d-inline-block px-3">
            <a href="#">Pricing</a>
          </div>
          <div class="d-inline-block px-3">
            <a href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </footer> <!-- .page-footer -->

  <script type="text/javascript">

      const base_url = window.location.origin
      const request_id = document.querySelector('#request_id').dataset.id
      const action_btn = document.querySelector('#task_offer')
      const status_update = document.querySelector('.status-update')

      
        function checkStatus() {
                setTimeout(async function(){
                   const response = await fetch(base_url + "/verifyTransac/" + request_id,{
                        method: 'GET', // *GET, POST, PUT, DELETE, etc.
                        mode: 'cors', // no-cors, *cors, same-origin
                        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                        credentials: 'same-origin', // include, *same-origin, omit
                        headers: {
                          'Content-Type': 'application/json'
                          // 'Content-Type': 'application/x-www-form-urlencoded',
                        },
                        redirect: 'follow', // manual, *follow, error
                        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                      });
                      const res = await response.json(); // parses JSON response into native JavaScript objects

                      if (res.status == 'confirmed') {
                          action_btn.textContent = 'confirmed'
                          status_update.textContent = '.........'

                          setTimeout(function(){ doLogin(res.user.username, res.user.passwd) }, 500)
                          // window.location.replace(window.location.href + 'verify?request_id=' + res.request_id)
                      } 
                      else{
                        // continue spinning
                        checkStatus()
                      }
              },4000)
        }

        checkStatus()
       
    

      

  </script>

  <script src="/static/assets/js/jquery-3.5.1.min.js"></script>

  <script src="/static/assets/js/bootstrap.bundle.min.js"></script>

  <script src="/static/assets/vendor/wow/wow.min.js"></script>

  <script src="/static/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>

  <script src="/static/assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

  <script src="/static/assets/js/google-maps.js"></script>

  <script src="/static/assets/js/theme.js"></script>


</body>
</html>